.grid-card__like {
  background-image: url(../../../images/element-grid-like.svg);
  background-color: #fff;
  overflow: hidden;
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0;
  transition: .3s;
  cursor: pointer;
}
.grid-card__like:hover {
  opacity: .6;
}
