.popup__title {
  text-align: start;
  margin: 0;
  margin: 34px 36px 54px 36px;
  color: #000;
  width: 362px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
@media screen and (max-width: 500px) {
  .popup__title {
    width: 238px;
    margin: 25px 22px 75px 22px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }
}